[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Python (v2.7)
Name[ar]=Python (v2.7)
Name[ast]=Python (v2.7)
Name[be]=Python (v2.7)
Name[bg]=Python (v2.7)
Name[bn]=Python (v2.7)
Name[br]=Python (v2.7)
Name[bs]=Python (v2.7)
Name[ca]=Python (v2.7)
Name[cs]=Python (v2.7)
Name[da]=Python (v2.7)
Name[de]=Python (v2.7)
Name[dz]=Python (v2.7)
Name[el]=Python (v2.7)
Name[eo]=Python (v2.7)
Name[es]=Python (v2.7)
Name[et]=Python (v2.7)
Name[eu]=Python (v2.7)
Name[fi]=Python (v2.7)
Name[fr]=Python (v2.7)
Name[ga]=Python (v2.7)
Name[gl]=Python (v2.7)
Name[gu]=Python (v2.7)
Name[he]=Python (v2.7)
Name[hi]=Python (v2.7)
Name[hr]=Python (v2.7)
Name[hu]=Python (v2.7)
Name[id]=Python (v2.7)
Name[it]=Python (v2.7)
Name[ja]=Python (v2.7)
Name[ka]=Python (v2.7)
Name[kk]=Python (v2.7)
Name[km]=Python (v2.7)
Name[ko]=Python (v2.7)
Name[ku]=Python (v2.7)
Name[lt]=Python (v2.7)
Name[mk]=Python (v2.7)
Name[ml]=Python (v2.7)
Name[mr]=Python (v2.7)
Name[nb]=Python (v2.7)
Name[ne]=Python (v2.7)
Name[nl]=Python (v2.7)
Name[nn]=Python (v2.7)
Name[pa]=Python (v2.7)
Name[pl]=Python (v2.7)
Name[pt]=Python (v2.7)
Name[pt_BR]=Python (v2.7)
Name[ro]=Python (v2.7)
Name[ru]=Python (v2.7)
Name[sk]=Python (v2.7)
Name[sq]=Python (v2.7)
Name[sv]=Python (v2.7)
Name[ta]=Python (v2.7)
Name[th]=Python (v2.7)
Name[tl]=Python (v2.7)
Name[tr]=Python (v2.7)
Name[uk]=Python (v2.7)
Name[vi]=Python (v2.7)
Name[wo]=Python (v2.7)
Name[zh_CN]=Python (v2.7)
Name[zh_TW]=Python (v2.7)
Icon=/usr/share/pixmaps/python2.7.xpm
Exec=/usr/bin/python2.7
Terminal=true
Categories=X-Debian-Applications-Programming;
