[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=galculator
Name[ar]=galculator
Name[ast]=galculator
Name[be]=galculator
Name[bg]=galculator
Name[bn]=galculator
Name[br]=galculator
Name[bs]=galculator
Name[ca]=galculator
Name[cs]=galculator
Name[da]=galculator
Name[de]=galculator
Name[dz]=galculator
Name[el]=galculator
Name[eo]=galculator
Name[es]=galculator
Name[et]=galculator
Name[eu]=galculator
Name[fi]=galculator
Name[fr]=galculator
Name[ga]=galculator
Name[gl]=galculator
Name[gu]=galculator
Name[he]=galculator
Name[hi]=galculator
Name[hr]=galculator
Name[hu]=galculator
Name[id]=galculator
Name[it]=galculator
Name[ja]=galculator
Name[ka]=galculator
Name[kk]=galculator
Name[km]=galculator
Name[ko]=galculator
Name[ku]=galculator
Name[lt]=galculator
Name[mk]=galculator
Name[ml]=galculator
Name[mr]=galculator
Name[nb]=galculator
Name[ne]=galculator
Name[nl]=galculator
Name[nn]=galculator
Name[pa]=galculator
Name[pl]=galculator
Name[pt]=galculator
Name[pt_BR]=galculator
Name[ro]=galculator
Name[ru]=galculator
Name[sk]=galculator
Name[sq]=galculator
Name[sv]=galculator
Name[ta]=galculator
Name[th]=galculator
Name[tl]=galculator
Name[tr]=galculator
Name[uk]=galculator
Name[vi]=galculator
Name[wo]=galculator
Name[zh_CN]=galculator
Name[zh_TW]=galculator
Icon=/usr/share/pixmaps/galculator.xpm
Exec=/usr/bin/galculator
Terminal=false
Categories=X-Debian-Applications-Science-Mathematics;
