[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LeafPad
Name[ar]=LeafPad
Name[ast]=LeafPad
Name[be]=LeafPad
Name[bg]=LeafPad
Name[bn]=LeafPad
Name[br]=LeafPad
Name[bs]=LeafPad
Name[ca]=LeafPad
Name[cs]=LeafPad
Name[da]=LeafPad
Name[de]=LeafPad
Name[dz]=LeafPad
Name[el]=LeafPad
Name[eo]=LeafPad
Name[es]=LeafPad
Name[et]=LeafPad
Name[eu]=LeafPad
Name[fi]=LeafPad
Name[fr]=LeafPad
Name[ga]=LeafPad
Name[gl]=LeafPad
Name[gu]=LeafPad
Name[he]=LeafPad
Name[hi]=LeafPad
Name[hr]=LeafPad
Name[hu]=LeafPad
Name[id]=LeafPad
Name[it]=LeafPad
Name[ja]=LeafPad
Name[ka]=LeafPad
Name[kk]=LeafPad
Name[km]=LeafPad
Name[ko]=LeafPad
Name[ku]=LeafPad
Name[lt]=LeafPad
Name[mk]=LeafPad
Name[ml]=LeafPad
Name[mr]=LeafPad
Name[nb]=LeafPad
Name[ne]=LeafPad
Name[nl]=LeafPad
Name[nn]=LeafPad
Name[pa]=LeafPad
Name[pl]=LeafPad
Name[pt]=LeafPad
Name[pt_BR]=LeafPad
Name[ro]=LeafPad
Name[ru]=LeafPad
Name[sk]=LeafPad
Name[sq]=LeafPad
Name[sv]=LeafPad
Name[ta]=LeafPad
Name[th]=LeafPad
Name[tl]=LeafPad
Name[tr]=LeafPad
Name[uk]=LeafPad
Name[vi]=LeafPad
Name[wo]=LeafPad
Name[zh_CN]=LeafPad
Name[zh_TW]=LeafPad
Comment=GTK+ based simple text editor
Comment[ar]=GTK+ based simple text editor
Comment[ast]=GTK+ based simple text editor
Comment[be]=GTK+ based simple text editor
Comment[bg]=GTK+ based simple text editor
Comment[bn]=GTK+ based simple text editor
Comment[br]=GTK+ based simple text editor
Comment[bs]=GTK+ based simple text editor
Comment[ca]=GTK+ based simple text editor
Comment[cs]=GTK+ based simple text editor
Comment[da]=GTK+ based simple text editor
Comment[de]=GTK+ based simple text editor
Comment[dz]=GTK+ based simple text editor
Comment[el]=GTK+ based simple text editor
Comment[eo]=GTK+ based simple text editor
Comment[es]=GTK+ based simple text editor
Comment[et]=GTK+ based simple text editor
Comment[eu]=GTK+ based simple text editor
Comment[fi]=GTK+ based simple text editor
Comment[fr]=GTK+ based simple text editor
Comment[ga]=GTK+ based simple text editor
Comment[gl]=GTK+ based simple text editor
Comment[gu]=GTK+ based simple text editor
Comment[he]=GTK+ based simple text editor
Comment[hi]=GTK+ based simple text editor
Comment[hr]=GTK+ based simple text editor
Comment[hu]=GTK+ based simple text editor
Comment[id]=GTK+ based simple text editor
Comment[it]=GTK+ based simple text editor
Comment[ja]=GTK+ based simple text editor
Comment[ka]=GTK+ based simple text editor
Comment[kk]=GTK+ based simple text editor
Comment[km]=GTK+ based simple text editor
Comment[ko]=GTK+ based simple text editor
Comment[ku]=GTK+ based simple text editor
Comment[lt]=GTK+ based simple text editor
Comment[mk]=GTK+ based simple text editor
Comment[ml]=GTK+ based simple text editor
Comment[mr]=GTK+ based simple text editor
Comment[nb]=GTK+ based simple text editor
Comment[ne]=GTK+ based simple text editor
Comment[nl]=GTK+ based simple text editor
Comment[nn]=GTK+ based simple text editor
Comment[pa]=GTK+ based simple text editor
Comment[pl]=GTK+ based simple text editor
Comment[pt]=GTK+ based simple text editor
Comment[pt_BR]=GTK+ based simple text editor
Comment[ro]=GTK+ based simple text editor
Comment[ru]=GTK+ based simple text editor
Comment[sk]=GTK+ based simple text editor
Comment[sq]=GTK+ based simple text editor
Comment[sv]=GTK+ based simple text editor
Comment[ta]=GTK+ based simple text editor
Comment[th]=GTK+ based simple text editor
Comment[tl]=GTK+ based simple text editor
Comment[tr]=GTK+ based simple text editor
Comment[uk]=GTK+ based simple text editor
Comment[vi]=GTK+ based simple text editor
Comment[wo]=GTK+ based simple text editor
Comment[zh_CN]=GTK+ based simple text editor
Comment[zh_TW]=GTK+ based simple text editor
Icon=/usr/share/pixmaps/leafpad.xpm
Exec=/usr/bin/leafpad
Terminal=false
Categories=X-Debian-Applications-Editors;
