[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LXAppearance
Name[ar]=LXAppearance
Name[ast]=LXAppearance
Name[be]=LXAppearance
Name[bg]=LXAppearance
Name[bn]=LXAppearance
Name[br]=LXAppearance
Name[bs]=LXAppearance
Name[ca]=LXAppearance
Name[cs]=LXAppearance
Name[da]=LXAppearance
Name[de]=LXAppearance
Name[dz]=LXAppearance
Name[el]=LXAppearance
Name[eo]=LXAppearance
Name[es]=LXAppearance
Name[et]=LXAppearance
Name[eu]=LXAppearance
Name[fi]=LXAppearance
Name[fr]=LXAppearance
Name[ga]=LXAppearance
Name[gl]=LXAppearance
Name[gu]=LXAppearance
Name[he]=LXAppearance
Name[hi]=LXAppearance
Name[hr]=LXAppearance
Name[hu]=LXAppearance
Name[id]=LXAppearance
Name[it]=LXAppearance
Name[ja]=LXAppearance
Name[ka]=LXAppearance
Name[kk]=LXAppearance
Name[km]=LXAppearance
Name[ko]=LXAppearance
Name[ku]=LXAppearance
Name[lt]=LXAppearance
Name[mk]=LXAppearance
Name[ml]=LXAppearance
Name[mr]=LXAppearance
Name[nb]=LXAppearance
Name[ne]=LXAppearance
Name[nl]=LXAppearance
Name[nn]=LXAppearance
Name[pa]=LXAppearance
Name[pl]=LXAppearance
Name[pt]=LXAppearance
Name[pt_BR]=LXAppearance
Name[ro]=LXAppearance
Name[ru]=LXAppearance
Name[sk]=LXAppearance
Name[sq]=LXAppearance
Name[sv]=LXAppearance
Name[ta]=LXAppearance
Name[th]=LXAppearance
Name[tl]=LXAppearance
Name[tr]=LXAppearance
Name[uk]=LXAppearance
Name[vi]=LXAppearance
Name[wo]=LXAppearance
Name[zh_CN]=LXAppearance
Name[zh_TW]=LXAppearance
Comment=LXDE GTK+ theme switcher
Comment[ar]=LXDE GTK+ theme switcher
Comment[ast]=LXDE GTK+ theme switcher
Comment[be]=LXDE GTK+ theme switcher
Comment[bg]=LXDE GTK+ theme switcher
Comment[bn]=LXDE GTK+ theme switcher
Comment[br]=LXDE GTK+ theme switcher
Comment[bs]=LXDE GTK+ theme switcher
Comment[ca]=LXDE GTK+ theme switcher
Comment[cs]=LXDE GTK+ theme switcher
Comment[da]=LXDE GTK+ theme switcher
Comment[de]=LXDE GTK+ theme switcher
Comment[dz]=LXDE GTK+ theme switcher
Comment[el]=LXDE GTK+ theme switcher
Comment[eo]=LXDE GTK+ theme switcher
Comment[es]=LXDE GTK+ theme switcher
Comment[et]=LXDE GTK+ theme switcher
Comment[eu]=LXDE GTK+ theme switcher
Comment[fi]=LXDE GTK+ theme switcher
Comment[fr]=LXDE GTK+ theme switcher
Comment[ga]=LXDE GTK+ theme switcher
Comment[gl]=LXDE GTK+ theme switcher
Comment[gu]=LXDE GTK+ theme switcher
Comment[he]=LXDE GTK+ theme switcher
Comment[hi]=LXDE GTK+ theme switcher
Comment[hr]=LXDE GTK+ theme switcher
Comment[hu]=LXDE GTK+ theme switcher
Comment[id]=LXDE GTK+ theme switcher
Comment[it]=LXDE GTK+ theme switcher
Comment[ja]=LXDE GTK+ theme switcher
Comment[ka]=LXDE GTK+ theme switcher
Comment[kk]=LXDE GTK+ theme switcher
Comment[km]=LXDE GTK+ theme switcher
Comment[ko]=LXDE GTK+ theme switcher
Comment[ku]=LXDE GTK+ theme switcher
Comment[lt]=LXDE GTK+ theme switcher
Comment[mk]=LXDE GTK+ theme switcher
Comment[ml]=LXDE GTK+ theme switcher
Comment[mr]=LXDE GTK+ theme switcher
Comment[nb]=LXDE GTK+ theme switcher
Comment[ne]=LXDE GTK+ theme switcher
Comment[nl]=LXDE GTK+ theme switcher
Comment[nn]=LXDE GTK+ theme switcher
Comment[pa]=LXDE GTK+ theme switcher
Comment[pl]=LXDE GTK+ theme switcher
Comment[pt]=LXDE GTK+ theme switcher
Comment[pt_BR]=LXDE GTK+ theme switcher
Comment[ro]=LXDE GTK+ theme switcher
Comment[ru]=LXDE GTK+ theme switcher
Comment[sk]=LXDE GTK+ theme switcher
Comment[sq]=LXDE GTK+ theme switcher
Comment[sv]=LXDE GTK+ theme switcher
Comment[ta]=LXDE GTK+ theme switcher
Comment[th]=LXDE GTK+ theme switcher
Comment[tl]=LXDE GTK+ theme switcher
Comment[tr]=LXDE GTK+ theme switcher
Comment[uk]=LXDE GTK+ theme switcher
Comment[vi]=LXDE GTK+ theme switcher
Comment[wo]=LXDE GTK+ theme switcher
Comment[zh_CN]=LXDE GTK+ theme switcher
Comment[zh_TW]=LXDE GTK+ theme switcher
Exec=/usr/bin/lxappearance
Terminal=false
Categories=X-Debian-Applications-System-Administration;
