[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PCManFM
Name[ar]=PCManFM
Name[ast]=PCManFM
Name[be]=PCManFM
Name[bg]=PCManFM
Name[bn]=PCManFM
Name[br]=PCManFM
Name[bs]=PCManFM
Name[ca]=PCManFM
Name[cs]=PCManFM
Name[da]=PCManFM
Name[de]=PCManFM
Name[dz]=PCManFM
Name[el]=PCManFM
Name[eo]=PCManFM
Name[es]=PCManFM
Name[et]=PCManFM
Name[eu]=PCManFM
Name[fi]=PCManFM
Name[fr]=PCManFM
Name[ga]=PCManFM
Name[gl]=PCManFM
Name[gu]=PCManFM
Name[he]=PCManFM
Name[hi]=PCManFM
Name[hr]=PCManFM
Name[hu]=PCManFM
Name[id]=PCManFM
Name[it]=PCManFM
Name[ja]=PCManFM
Name[ka]=PCManFM
Name[kk]=PCManFM
Name[km]=PCManFM
Name[ko]=PCManFM
Name[ku]=PCManFM
Name[lt]=PCManFM
Name[mk]=PCManFM
Name[ml]=PCManFM
Name[mr]=PCManFM
Name[nb]=PCManFM
Name[ne]=PCManFM
Name[nl]=PCManFM
Name[nn]=PCManFM
Name[pa]=PCManFM
Name[pl]=PCManFM
Name[pt]=PCManFM
Name[pt_BR]=PCManFM
Name[ro]=PCManFM
Name[ru]=PCManFM
Name[sk]=PCManFM
Name[sq]=PCManFM
Name[sv]=PCManFM
Name[ta]=PCManFM
Name[th]=PCManFM
Name[tl]=PCManFM
Name[tr]=PCManFM
Name[uk]=PCManFM
Name[vi]=PCManFM
Name[wo]=PCManFM
Name[zh_CN]=PCManFM
Name[zh_TW]=PCManFM
Comment=Real Tabbed File Manager
Comment[ar]=Real Tabbed File Manager
Comment[ast]=Real Tabbed File Manager
Comment[be]=Real Tabbed File Manager
Comment[bg]=Real Tabbed File Manager
Comment[bn]=Real Tabbed File Manager
Comment[br]=Real Tabbed File Manager
Comment[bs]=Real Tabbed File Manager
Comment[ca]=Real Tabbed File Manager
Comment[cs]=Real Tabbed File Manager
Comment[da]=Real Tabbed File Manager
Comment[de]=Real Tabbed File Manager
Comment[dz]=Real Tabbed File Manager
Comment[el]=Real Tabbed File Manager
Comment[eo]=Real Tabbed File Manager
Comment[es]=Real Tabbed File Manager
Comment[et]=Real Tabbed File Manager
Comment[eu]=Real Tabbed File Manager
Comment[fi]=Real Tabbed File Manager
Comment[fr]=Real Tabbed File Manager
Comment[ga]=Real Tabbed File Manager
Comment[gl]=Real Tabbed File Manager
Comment[gu]=Real Tabbed File Manager
Comment[he]=Real Tabbed File Manager
Comment[hi]=Real Tabbed File Manager
Comment[hr]=Real Tabbed File Manager
Comment[hu]=Real Tabbed File Manager
Comment[id]=Real Tabbed File Manager
Comment[it]=Real Tabbed File Manager
Comment[ja]=Real Tabbed File Manager
Comment[ka]=Real Tabbed File Manager
Comment[kk]=Real Tabbed File Manager
Comment[km]=Real Tabbed File Manager
Comment[ko]=Real Tabbed File Manager
Comment[ku]=Real Tabbed File Manager
Comment[lt]=Real Tabbed File Manager
Comment[mk]=Real Tabbed File Manager
Comment[ml]=Real Tabbed File Manager
Comment[mr]=Real Tabbed File Manager
Comment[nb]=Real Tabbed File Manager
Comment[ne]=Real Tabbed File Manager
Comment[nl]=Real Tabbed File Manager
Comment[nn]=Real Tabbed File Manager
Comment[pa]=Real Tabbed File Manager
Comment[pl]=Real Tabbed File Manager
Comment[pt]=Real Tabbed File Manager
Comment[pt_BR]=Real Tabbed File Manager
Comment[ro]=Real Tabbed File Manager
Comment[ru]=Real Tabbed File Manager
Comment[sk]=Real Tabbed File Manager
Comment[sq]=Real Tabbed File Manager
Comment[sv]=Real Tabbed File Manager
Comment[ta]=Real Tabbed File Manager
Comment[th]=Real Tabbed File Manager
Comment[tl]=Real Tabbed File Manager
Comment[tr]=Real Tabbed File Manager
Comment[uk]=Real Tabbed File Manager
Comment[vi]=Real Tabbed File Manager
Comment[wo]=Real Tabbed File Manager
Comment[zh_CN]=Real Tabbed File Manager
Comment[zh_TW]=Real Tabbed File Manager
Exec=/usr/bin/pcmanfm
Terminal=false
Categories=X-Debian-Applications-File-Management;
