[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Openbox Configuration Manager
Name[ar]=Openbox Configuration Manager
Name[ast]=Openbox Configuration Manager
Name[be]=Openbox Configuration Manager
Name[bg]=Openbox Configuration Manager
Name[bn]=Openbox Configuration Manager
Name[br]=Openbox Configuration Manager
Name[bs]=Openbox Configuration Manager
Name[ca]=Openbox Configuration Manager
Name[cs]=Openbox Configuration Manager
Name[da]=Openbox Configuration Manager
Name[de]=Openbox Configuration Manager
Name[dz]=Openbox Configuration Manager
Name[el]=Openbox Configuration Manager
Name[eo]=Openbox Configuration Manager
Name[es]=Openbox Configuration Manager
Name[et]=Openbox Configuration Manager
Name[eu]=Openbox Configuration Manager
Name[fi]=Openbox Configuration Manager
Name[fr]=Openbox Configuration Manager
Name[ga]=Openbox Configuration Manager
Name[gl]=Openbox Configuration Manager
Name[gu]=Openbox Configuration Manager
Name[he]=Openbox Configuration Manager
Name[hi]=Openbox Configuration Manager
Name[hr]=Openbox Configuration Manager
Name[hu]=Openbox Configuration Manager
Name[id]=Openbox Configuration Manager
Name[it]=Openbox Configuration Manager
Name[ja]=Openbox Configuration Manager
Name[ka]=Openbox Configuration Manager
Name[kk]=Openbox Configuration Manager
Name[km]=Openbox Configuration Manager
Name[ko]=Openbox Configuration Manager
Name[ku]=Openbox Configuration Manager
Name[lt]=Openbox Configuration Manager
Name[mk]=Openbox Configuration Manager
Name[ml]=Openbox Configuration Manager
Name[mr]=Openbox Configuration Manager
Name[nb]=Openbox Configuration Manager
Name[ne]=Openbox Configuration Manager
Name[nl]=Openbox Configuration Manager
Name[nn]=Openbox Configuration Manager
Name[pa]=Openbox Configuration Manager
Name[pl]=Openbox Configuration Manager
Name[pt]=Openbox Configuration Manager
Name[pt_BR]=Openbox Configuration Manager
Name[ro]=Openbox Configuration Manager
Name[ru]=Openbox Configuration Manager
Name[sk]=Openbox Configuration Manager
Name[sq]=Openbox Configuration Manager
Name[sv]=Openbox Configuration Manager
Name[ta]=Openbox Configuration Manager
Name[th]=Openbox Configuration Manager
Name[tl]=Openbox Configuration Manager
Name[tr]=Openbox Configuration Manager
Name[uk]=Openbox Configuration Manager
Name[vi]=Openbox Configuration Manager
Name[wo]=Openbox Configuration Manager
Name[zh_CN]=Openbox Configuration Manager
Name[zh_TW]=Openbox Configuration Manager
Icon=/usr/share/pixmaps/obconf.xpm
Exec=/usr/bin/obconf
Terminal=false
Categories=X-Debian-Applications-System-Administration;
