[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Xarchiver
Name[ar]=Xarchiver
Name[ast]=Xarchiver
Name[be]=Xarchiver
Name[bg]=Xarchiver
Name[bn]=Xarchiver
Name[br]=Xarchiver
Name[bs]=Xarchiver
Name[ca]=Xarchiver
Name[cs]=Xarchiver
Name[da]=Xarchiver
Name[de]=Xarchiver
Name[dz]=Xarchiver
Name[el]=Xarchiver
Name[eo]=Xarchiver
Name[es]=Xarchiver
Name[et]=Xarchiver
Name[eu]=Xarchiver
Name[fi]=Xarchiver
Name[fr]=Xarchiver
Name[ga]=Xarchiver
Name[gl]=Xarchiver
Name[gu]=Xarchiver
Name[he]=Xarchiver
Name[hi]=Xarchiver
Name[hr]=Xarchiver
Name[hu]=Xarchiver
Name[id]=Xarchiver
Name[it]=Xarchiver
Name[ja]=Xarchiver
Name[ka]=Xarchiver
Name[kk]=Xarchiver
Name[km]=Xarchiver
Name[ko]=Xarchiver
Name[ku]=Xarchiver
Name[lt]=Xarchiver
Name[mk]=Xarchiver
Name[ml]=Xarchiver
Name[mr]=Xarchiver
Name[nb]=Xarchiver
Name[ne]=Xarchiver
Name[nl]=Xarchiver
Name[nn]=Xarchiver
Name[pa]=Xarchiver
Name[pl]=Xarchiver
Name[pt]=Xarchiver
Name[pt_BR]=Xarchiver
Name[ro]=Xarchiver
Name[ru]=Xarchiver
Name[sk]=Xarchiver
Name[sq]=Xarchiver
Name[sv]=Xarchiver
Name[ta]=Xarchiver
Name[th]=Xarchiver
Name[tl]=Xarchiver
Name[tr]=Xarchiver
Name[uk]=Xarchiver
Name[vi]=Xarchiver
Name[wo]=Xarchiver
Name[zh_CN]=Xarchiver
Name[zh_TW]=Xarchiver
Comment=GTK+ frontend for most used compression formats
Comment[ar]=GTK+ frontend for most used compression formats
Comment[ast]=GTK+ frontend for most used compression formats
Comment[be]=GTK+ frontend for most used compression formats
Comment[bg]=GTK+ frontend for most used compression formats
Comment[bn]=GTK+ frontend for most used compression formats
Comment[br]=GTK+ frontend for most used compression formats
Comment[bs]=GTK+ frontend for most used compression formats
Comment[ca]=GTK+ frontend for most used compression formats
Comment[cs]=GTK+ frontend for most used compression formats
Comment[da]=GTK+ frontend for most used compression formats
Comment[de]=GTK+ frontend for most used compression formats
Comment[dz]=GTK+ frontend for most used compression formats
Comment[el]=GTK+ frontend for most used compression formats
Comment[eo]=GTK+ frontend for most used compression formats
Comment[es]=GTK+ frontend for most used compression formats
Comment[et]=GTK+ frontend for most used compression formats
Comment[eu]=GTK+ frontend for most used compression formats
Comment[fi]=GTK+ frontend for most used compression formats
Comment[fr]=GTK+ frontend for most used compression formats
Comment[ga]=GTK+ frontend for most used compression formats
Comment[gl]=GTK+ frontend for most used compression formats
Comment[gu]=GTK+ frontend for most used compression formats
Comment[he]=GTK+ frontend for most used compression formats
Comment[hi]=GTK+ frontend for most used compression formats
Comment[hr]=GTK+ frontend for most used compression formats
Comment[hu]=GTK+ frontend for most used compression formats
Comment[id]=GTK+ frontend for most used compression formats
Comment[it]=GTK+ frontend for most used compression formats
Comment[ja]=GTK+ frontend for most used compression formats
Comment[ka]=GTK+ frontend for most used compression formats
Comment[kk]=GTK+ frontend for most used compression formats
Comment[km]=GTK+ frontend for most used compression formats
Comment[ko]=GTK+ frontend for most used compression formats
Comment[ku]=GTK+ frontend for most used compression formats
Comment[lt]=GTK+ frontend for most used compression formats
Comment[mk]=GTK+ frontend for most used compression formats
Comment[ml]=GTK+ frontend for most used compression formats
Comment[mr]=GTK+ frontend for most used compression formats
Comment[nb]=GTK+ frontend for most used compression formats
Comment[ne]=GTK+ frontend for most used compression formats
Comment[nl]=GTK+ frontend for most used compression formats
Comment[nn]=GTK+ frontend for most used compression formats
Comment[pa]=GTK+ frontend for most used compression formats
Comment[pl]=GTK+ frontend for most used compression formats
Comment[pt]=GTK+ frontend for most used compression formats
Comment[pt_BR]=GTK+ frontend for most used compression formats
Comment[ro]=GTK+ frontend for most used compression formats
Comment[ru]=GTK+ frontend for most used compression formats
Comment[sk]=GTK+ frontend for most used compression formats
Comment[sq]=GTK+ frontend for most used compression formats
Comment[sv]=GTK+ frontend for most used compression formats
Comment[ta]=GTK+ frontend for most used compression formats
Comment[th]=GTK+ frontend for most used compression formats
Comment[tl]=GTK+ frontend for most used compression formats
Comment[tr]=GTK+ frontend for most used compression formats
Comment[uk]=GTK+ frontend for most used compression formats
Comment[vi]=GTK+ frontend for most used compression formats
Comment[wo]=GTK+ frontend for most used compression formats
Comment[zh_CN]=GTK+ frontend for most used compression formats
Comment[zh_TW]=GTK+ frontend for most used compression formats
Icon=/usr/share/pixmaps/xarchiver.xpm
Exec=/usr/bin/xarchiver
Terminal=false
Categories=X-Debian-Applications-File-Management;
