[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LXRandR
Name[ar]=LXRandR
Name[ast]=LXRandR
Name[be]=LXRandR
Name[bg]=LXRandR
Name[bn]=LXRandR
Name[br]=LXRandR
Name[bs]=LXRandR
Name[ca]=LXRandR
Name[cs]=LXRandR
Name[da]=LXRandR
Name[de]=LXRandR
Name[dz]=LXRandR
Name[el]=LXRandR
Name[eo]=LXRandR
Name[es]=LXRandR
Name[et]=LXRandR
Name[eu]=LXRandR
Name[fi]=LXRandR
Name[fr]=LXRandR
Name[ga]=LXRandR
Name[gl]=LXRandR
Name[gu]=LXRandR
Name[he]=LXRandR
Name[hi]=LXRandR
Name[hr]=LXRandR
Name[hu]=LXRandR
Name[id]=LXRandR
Name[it]=LXRandR
Name[ja]=LXRandR
Name[ka]=LXRandR
Name[kk]=LXRandR
Name[km]=LXRandR
Name[ko]=LXRandR
Name[ku]=LXRandR
Name[lt]=LXRandR
Name[mk]=LXRandR
Name[ml]=LXRandR
Name[mr]=LXRandR
Name[nb]=LXRandR
Name[ne]=LXRandR
Name[nl]=LXRandR
Name[nn]=LXRandR
Name[pa]=LXRandR
Name[pl]=LXRandR
Name[pt]=LXRandR
Name[pt_BR]=LXRandR
Name[ro]=LXRandR
Name[ru]=LXRandR
Name[sk]=LXRandR
Name[sq]=LXRandR
Name[sv]=LXRandR
Name[ta]=LXRandR
Name[th]=LXRandR
Name[tl]=LXRandR
Name[tr]=LXRandR
Name[uk]=LXRandR
Name[vi]=LXRandR
Name[wo]=LXRandR
Name[zh_CN]=LXRandR
Name[zh_TW]=LXRandR
Comment=LXDE monitor configuration tool
Comment[ar]=LXDE monitor configuration tool
Comment[ast]=LXDE monitor configuration tool
Comment[be]=LXDE monitor configuration tool
Comment[bg]=LXDE monitor configuration tool
Comment[bn]=LXDE monitor configuration tool
Comment[br]=LXDE monitor configuration tool
Comment[bs]=LXDE monitor configuration tool
Comment[ca]=LXDE monitor configuration tool
Comment[cs]=LXDE monitor configuration tool
Comment[da]=LXDE monitor configuration tool
Comment[de]=LXDE monitor configuration tool
Comment[dz]=LXDE monitor configuration tool
Comment[el]=LXDE monitor configuration tool
Comment[eo]=LXDE monitor configuration tool
Comment[es]=LXDE monitor configuration tool
Comment[et]=LXDE monitor configuration tool
Comment[eu]=LXDE monitor configuration tool
Comment[fi]=LXDE monitor configuration tool
Comment[fr]=LXDE monitor configuration tool
Comment[ga]=LXDE monitor configuration tool
Comment[gl]=LXDE monitor configuration tool
Comment[gu]=LXDE monitor configuration tool
Comment[he]=LXDE monitor configuration tool
Comment[hi]=LXDE monitor configuration tool
Comment[hr]=LXDE monitor configuration tool
Comment[hu]=LXDE monitor configuration tool
Comment[id]=LXDE monitor configuration tool
Comment[it]=LXDE monitor configuration tool
Comment[ja]=LXDE monitor configuration tool
Comment[ka]=LXDE monitor configuration tool
Comment[kk]=LXDE monitor configuration tool
Comment[km]=LXDE monitor configuration tool
Comment[ko]=LXDE monitor configuration tool
Comment[ku]=LXDE monitor configuration tool
Comment[lt]=LXDE monitor configuration tool
Comment[mk]=LXDE monitor configuration tool
Comment[ml]=LXDE monitor configuration tool
Comment[mr]=LXDE monitor configuration tool
Comment[nb]=LXDE monitor configuration tool
Comment[ne]=LXDE monitor configuration tool
Comment[nl]=LXDE monitor configuration tool
Comment[nn]=LXDE monitor configuration tool
Comment[pa]=LXDE monitor configuration tool
Comment[pl]=LXDE monitor configuration tool
Comment[pt]=LXDE monitor configuration tool
Comment[pt_BR]=LXDE monitor configuration tool
Comment[ro]=LXDE monitor configuration tool
Comment[ru]=LXDE monitor configuration tool
Comment[sk]=LXDE monitor configuration tool
Comment[sq]=LXDE monitor configuration tool
Comment[sv]=LXDE monitor configuration tool
Comment[ta]=LXDE monitor configuration tool
Comment[th]=LXDE monitor configuration tool
Comment[tl]=LXDE monitor configuration tool
Comment[tr]=LXDE monitor configuration tool
Comment[uk]=LXDE monitor configuration tool
Comment[vi]=LXDE monitor configuration tool
Comment[wo]=LXDE monitor configuration tool
Comment[zh_CN]=LXDE monitor configuration tool
Comment[zh_TW]=LXDE monitor configuration tool
Exec=/usr/bin/lxrandr
Terminal=false
Categories=X-Debian-Applications-System-Monitoring;
